.carrusel{    /* contenedor padre*/
    display: flex;
    flex-wrap: nowrap;
    overflow: scroll;
}

.elemento{   /* contenedor hijo*/
    flex: 1 0 auto;
    margin: 0 50px;
    background: red;
    width: 500px;
    height: 500px;
}