.carrusel{    /* contenedor padre*/
    display: flex;
    flex-wrap: nowrap;
    overflow: scroll;
}

.elementoamarillo{   /* contenedor hijo*/
    flex: 1 0 auto;
    margin: 0 50px;
    background: yellow;
    width: 500px;
    height: 500px;
}

.elementoazul{   /* contenedor hijo*/
    flex: 1 0 auto;
    margin: 0 50px;
    background: blue;
    width: 500px;
    height: 500px;
}

.elementorojo{   /* contenedor hijo*/
    flex: 1 0 auto;
    margin: 0 50px;
    background: red;
    width: 500px;
    height: 500px;
}

.elementonegro{   /* contenedor hijo*/
    flex: 1 0 auto;
    margin: 0 50px;
    background: black;
    width: 500px;
    height: 500px;
}

